<div class="tab projects">
    <h2 class="tab-title">projects</h2>
    <div class="placeholder-loading">
        <app-loading-screen [contrast]="true"
                            *ngIf="!loaded"></app-loading-screen>
    </div>
    <div class="projects-wrap"
         *ngIf="loaded">
        <div class="row-wrap"
             [ngClass]="{'overlayer': project.name}"
             *ngFor="let project of projects">
            <a [attr.href]="project.link">
                <ng-container *ngTemplateOutlet="overlayer"></ng-container>
                <img [src]="getImage(project.name)">
            </a>
        </div>
    </div>
</div>

<ng-template #overlayer>
    <div class="project-overlayer">
        <span class="overlayer-label">see project</span>
    </div>
</ng-template>