<div class="tab projects">
    <h2 class="tab-title">projects</h2>
    <div class="placeholder-loading">
        <app-loading-screen [contrast]="true"
                            *ngIf="!loaded"></app-loading-screen>
    </div>
    <div class="projects-wrap"
         *ngIf="loaded">
        <app-project [data]="project"
                     *ngFor="let project of projects"></app-project>
        <div class="more-projects-info">
            <span (click)="openAllProjects()">see more</span>
        </div>
    </div>

</div>