@use "/src/app/global/global.scss";

:host {
  @include global.fullWidth;
}

.projects {
  .tab-title {
    @extend .font-comfortaa;
    color: global.$white;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .placeholder-loading {
    width: 100%;
  }
  .projects-wrap {
    @include global.customScroll;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
  }
}

.more-projects-info {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 0.9rem;

  span {
    border-radius: 50px;
    border: 1px solid global.$white;
    padding: 0.4rem 0.9rem;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background-color: global.$white;
      color: global.$black;
    }
  }
}
