<div class="tab projects">
    <h2 class="tab-title">projects</h2>
    <div class="projects-wrap">
        <div class="one-row">
            <div class="row-wrap">
                <img src="../../../../../assets/images/placeholder.jpg">
            </div>
        </div>
        <div class="two-rows">
            <div class="row-wrap">
                <img src="../../../../../assets/images/placeholder.jpg">
            </div>
            <div class="row-wrap">
                <img src="../../../../../assets/images/placeholder.jpg">
            </div>
        </div>
        <div class="one-row">
            <div class="row-wrap">
                <img src="../../../../../assets/images/placeholder.jpg">
            </div>
        </div>
    </div>
</div>