<ul class="socials-wrap">
    <a class="social-icon-link"
       href="https://github.com/jakub-michalczyk">
        <li class="social-icon">
            <img src="/assets/images/github.png" />
        </li>
    </a>
    <a class="social-icon-link"
       href="https://www.linkedin.com/in/jakub-michalczyk-15a7471b0/">
        <li class="social-icon">
            <img src="/assets/images/linkedin.png" />
        </li>
    </a>
    <a class="social-icon-link"
       href="mailto:kontakt.jakubmichalczyk@gmail.com">
        <li class="social-icon">
            <img src="/assets/images/message.png" />
        </li>
    </a>
</ul>