@use "/src/app/global/global.scss";

.socials-wrap {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 0;
  list-style: none;
  .socials-wrap {
    display: inline-block;
  }
  img {
    transition: transform 0.2s;
  }
  .social-icon-link {
    display: block;
    margin: 15% 0;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-height: 550px) {
  .socials-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    .social-icon-link {
      margin: 0 20px;
    }
  }
}
