@use "/src/app/global/global.scss";

.loading-screen {
  @include global.fullWidth;
  @include global.flex(center, center);
  background-color: global.$white;
  position: absolute;
  z-index: 999999;
}

.contrast {
  background-color: global.$black;
  height: 50%;
}

.black-stroke {
  stroke: #000;
}

.white-stroke {
  stroke: #fff;
}

.container {
  width: 75px;
  height: 75px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
