@use "/src/app/global/global.scss";

:host {
  @include global.fullWidth;
}

.background-wrap {
  @include global.fullWidth;
  @include global.flex(center, center);
  overflow: hidden;
  top: 0;
  left: 0;
  .img {
    max-height: 90%;
  }
}
