@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap");
@font-face {
  font-family: "Kimberley Heavy";
  src: url("../../assets/fonts/kimberley-bl.ttf");
}

@mixin fullWidth() {
  width: 100%;
  height: 100%;
}

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin customScroll {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $grey;
  }
}

$white: #fff;
$black: #000;
$light_black: #1c1c1c;
$grey: #b2a5a5;
$light_grey: #e1dcdc;

/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.tab {
  @include flex(flex-start, center, column);
  padding-top: 25%;
  height: 75%;
}

.font-comfortaa {
  font-family: "Comfortaa", cursive;
}

.font-kimberley {
  font-family: "Kimberley Heavy";
}

@keyframes showFullSize {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
