<!-- LOADING SCREEN -->
<app-loading-screen *ngIf="!loaded"></app-loading-screen>

<!-- ROUTER OUTLER -->
<router-outlet></router-outlet>

<!-- LOGO -->
<div class="logo-wrap">
    <a routerLink="/">
        <img class="logo-image"
             src="../assets/images/logo.png" />
    </a>
</div>

<!-- MENU BURGER -->
<label for="check"
       [ngClass]="sidebarOpen ? 'contrast' : 'regural'"
       (change)="toggle()">
    <input type="checkbox"
           [checked]="sidebarOpen"
           id="check" />
    <span></span>
    <span></span>
    <span></span>
</label>

<!-- SIDEBAR -->
<app-sidebar [isOpen]="sidebarOpen"></app-sidebar>