@use "/src/app/global/global.scss";
@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

:host {
  width: 100%;
  height: 100%;
}

.sidebar-wrap {
  @include flex(center, center, column);
  position: fixed;
  background-color: global.$black;
  top: 0;
  right: 0;
  z-index: 99;
  width: 25%;
  height: 100%;
  .show-full {
    animation: showFullSize 0.2s;
    animation-fill-mode: forwards;
  }
  .show {
    height: 30%;
  }
  .hide {
    height: 0;
  }
  .sidebar-content-list {
    @include flex(space-around, center, column);
    overflow: hidden;
    color: global.$white;
    transition: height 0.2s;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Comfortaa", cursive;
    text-align: center;
    .sidebar-list-element {
      transition: letter-spacing 0.1s;
      &:hover {
        font-weight: bold;
        letter-spacing: 4px;
        cursor: pointer;
      }
    }
  }
  .sidebar-content {
    color: global.$white;
    position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;
  }
  .back {
    position: absolute;
    cursor: pointer;
    transform: scale(0.6);
    top: 2%;
    left: 2%;
  }
}

.tab {
  @include flex(center, center, column);
  height: 100%;
}

.experience {
  .chart {
    @include flex(center, center);
    font-family: "Comfortaa", cursive;
    width: 75%;
    height: 30%;
    .line {
      background-color: global.$white;
      width: 3px;
      border-radius: 4px;
      height: 100%;
      &::before {
        position: relative;
        top: calc(10% + 5px);
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        transform: translateX(calc(-3px - 0.75px)) translateY(-1px);
        border: 1px solid global.$black;
        border-radius: 50%;
        background-color: global.$grey;
      }
    }
    .chart-lines {
      @include flex(space-between, center, column);
      margin: 0 10% 0 5%;
      height: 100%;
      span {
        width: 10px;
        height: 1px;
        margin: 3px 0;
        background-color: global.$white;
      }
    }
    .chart-companies {
      @include flex(space-between, center, column);
      height: 100%;
      color: global.$white;
      font-size: 0.7rem;
      cursor: pointer;
      .company {
        font-weight: bold;
        color: global.$grey;
      }
    }
  }
}

@keyframes showFullSize {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

//Laptop
@media only screen and (max-width: 1440px) {
  .sidebar-wrap {
    width: 35%;
  }
}

//Tablet
@media only screen and (max-width: 768px) {
  .sidebar-wrap {
    width: 50%;
  }
}

//Mobile
@media only screen and (max-width: 600px) {
  .sidebar-wrap {
    width: 100%;
  }
}
