<div class="sidebar-wrap"
     [@openClose]="isOpen ? 'closed' : 'open'">

    <!-- MENU -->
    <ul class="sidebar-content-list"
        [ngClass]="listHidden ? 'hide' : 'show'">
        <li (click)="contentToggle('experience')"
            class="sidebar-list-element">experience</li>
        <li (click)="contentToggle('skills')"
            class="sidebar-list-element">skills</li>
        <li (click)="contentToggle('projects')"
            class="sidebar-list-element">projects</li>
        <li (click)="contentToggle('contact')"
            class="sidebar-list-element">contact</li>
    </ul>
    <div class="sidebar-content"
         [ngClass]="contentHidden ? 'hide' : 'show-full'">

        <!-- BACK BUTTON -->
        <div class="back"
             (click)="contentToggle()">
            <img src="../../../assets/icons/back.png" />
        </div>
        <ng-container [ngSwitch]="choosedTab">

            <!-- EXPERIENCE TAB -->
            <app-experience-tab *ngSwitchCase="'experience'"></app-experience-tab>
        </ng-container>
    </div>
</div>